@page "/profile"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Web.Pages.ProfileModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <div>
            <h2> My Information </h2>
            <b> Username: @(User.Identity.Name) </b>
            <br>
            <b> Email: Unknown </b>
            <br>
            <a href="/profile">Delete my account</a>
        </div>

        <br> <br>

        <div>
            <h2> Following: @(Model.FollowingsCount) </h2>
            <ul id="messagelist" class="cheeps">
                @foreach (FollowDTO following in Model.Followings)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@following.Author">@following.Author</a>
                            </strong>
                        </p>
                    </li>
                }
            </ul>
        </div>

        <br> <br>

        <div>
            <h2> Followers: @(Model.FollowersCount) </h2>
            <ul id="messagelist" class="cheeps">
                @foreach (FollowDTO followers in Model.Followers)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@followers.Author">@followers.Author</a>
                            </strong>
                        </p>
                    </li>
                }
            </ul>
        </div>

        <br> <br>

        <div>
            <h2> My Cheeps </h2>

            @if (Model.Cheeps.Any())
            {
                <ul id="messagelist" class="cheeps">
                    @foreach (CheepDTO cheep in Model.Cheeps)
                    {
                        <li>
                            <p>
                                <strong>
                                    <a href="/@cheep.Author">@cheep.Author</a>
                                </strong>
                                @cheep.Text
                                <small>&mdash; @cheep.TimeStamp</small>
                            </p>
                        </li>
                    }
                </ul>
            }
            else
            {
                <em>There are no cheeps.</em>
            }
        </div>
    }
    else
    {
        <em>You can't see your profile you aren't logged in!</em>
    }
</div>